* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: cursive;
}

/*--- Start Globals ---*/
a {
    text-decoration: none;
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

a:active {
    position: relative;
    color: #FF6347;
}

.text-gray {
    color: #eeeeee;
}

.error {
    color: #ff0000;
    text-align: center;
}

/* Alignments */
.align-center {
    text-align: center;
    align-items: center;
}

.align-justify {
    text-align: justify;
}

/* Margins and paddings */
.empty-top {
    margin-top: 50px;
}

.pad-right {
    margin-right: 2rem;
}

.pad-small {
    padding: 0.50rem;
}

.pad-responsive {
    padding: 1rem 1rem;
}

.marg-top {
    margin-top: 6rem;
}

.marg-bottom {
    margin-bottom: 2rem;
}

/* Backgrounds */
.bg-dark {
    background: rgb(10, 9, 9);
}

.bg-light {
    background-color: #eee;
}

.bg-white {
    background-color: #fff;
}

/* Colors */
.dark {
    color: #000;
}

.light {
    color: #eeee;
}

.fg-white {
    color: #fff;
}

.fg-origin {
    color: #FF6347;
}

.fg-destination {
    color: #0077b5;
}

/* Inputs */
.flex-input-center {
    flex: 0 0 calc(50% - 1rem);
}

.form-input-control {
    border: 1px solid !important;
    outline-width: 1px !important;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=phone],
input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-size: 1.2rem;
    text-indent: 3px;
}

select {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 1.1rem;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}


.btn {
    background-color: #000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1rem;
}

.btn-primary {
    width: 15em;
    padding: .9em;
    margin-top: .7em;
    border-end-end-radius: 25%;
    background: #000;
    color: #fff;
    border: 0;
    font-size: 1em;
    font-family: 'Playball', cursive;
}

.btn-secondary {
    width: 100%;
    font-family: 'Playball', cursive;
    margin-top: .6em;
}


.form-input {
    padding: 0.25rem 0;
    margin: 1rem 0;
    font-size: 1.2rem;
    text-indent: 5px;
    background: transparent;
}

.container {
    max-width: 98vw;
    margin: 2rem auto;
}

.column {
    max-width: 80vw;
    margin: 2rem auto;
}

.col-md-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    margin: 2rem 0;
}

.row {
    display: flex;
    flex-direction: row;
}


.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/bg.png") center/cover no-repeat;
    min-height: 380px;
    position: relative;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-right-card {
    justify-content: right;
    margin: 4rem 3rem;
    max-width: 500px;
    padding: 3rem 2rem;
    background: #fff;
    z-index: 3;
    box-shadow: 0 12px 18px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.flex-right-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.flex-center-card {
    justify-content: center;
    margin: 6rem 3rem;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.flex-justify-card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.flex-justify-content {
    justify-content: space-between;
    flex: 0 0 calc(50% - 1rem);
    flex-wrap: wrap;
}

.flex-justify-space-evenly {
    justify-content: space-evenly;
}

.flex-justify-space-around {
    justify-content: space-around;
}

.flex-right {
    margin: 4rem 3rem;
    max-width: 500px;
    padding: 3rem 2rem;
    color: #fff;
}

.flex-right-small {
    max-width: 30rem;
}

.flex-medium {
    max-width: 40rem;
}

.box-shadowed {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/*--- End Globals ---*/

/*--- Start Header --- */
.top-header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../assets/images/trip4.jpg') center/cover fixed no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
}

header .navbar {
    background: #000;
    position: fixed;
    z-index: 9;
    top: 0%;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-family: 'Playball', cursive;
    flex-shrink: 1;
}

.logo {
    float: left;
    margin-left: 5px;
    transition: 0.4s;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo a span {
    color: #F1C40F;
}

.navbar-list {
    float: right;
}

.navbar-list li {
    display: inline-block;
    padding: 1em;
}

.navbar-list li:last-child {
    margin-right: 15px;
}

.navbar-list li a {
    color: #fff;
}

.navbar-list li a:hover {
    color: #eee;
}

.navbar-list li a::before,
.navbar-list li a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.navbar-list li a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.navbar-list li a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.navbar-list li a:hover::before,
.navbar-list li a:hover::after,
.navbar-list li a:focus::before,
.navbar-list li a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.nav-top {
    padding: 2em;
    margin-top: 50px;
    width: 450px;
}

/*-- Media queries --*/
@media screen and (max-width: 360px) {
    .navbar-list li:last-child {
        margin-right: 2px;
    }

    .navbar-list li {
        padding: .6em;
    }
}

/*--- End Header --- */

/* HOME PAGE SETUP */

/*--- Start upcoming trips ---*/
#upcomings .single-article {
    padding: 2rem;
}

.flex-height {
    min-height: 100vh;
    padding: 3rem 0;
}

.section-title {
    text-align: center;
    text-transform: capitalize;
}

.section-title-name {
    font-size: 4rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
}

.single-article {
    margin: 2rem auto;
    text-align: center;
    transition: all 0.5s ease-in;
    padding: 2rem 0;
}

.single-article a {
    margin-top: 5rem;
}

.single-article:hover {
    background: #fff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1)
}

.single-article-header-img img {
    width: 100%;
    max-height: 196px;
}

.single-article-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}

.single-article-text {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.2rem;
}

@media screen and (min-width:768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .single-article {
        flex: 0 0 calc(50% - 0.5rem)
    }
}
@media screen and (min-width:992px) {
    .single-article {
        flex: 0 0 calc(33.3333% - 0.3rem)
    }
}

/*--- End upcoming trips ---*/

/*--- Start Achievements*/
.achievements {
    min-height: 30vh;
    padding: 3rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/images/trip8.jpg') center/cover no-repeat fixed;
    color: #eeeeee;
}

.single-article-achievements {
    text-align: center;
    margin: 2rem 0;
}

.achievements-single-icon {
    font-size: 3rem;
}

.single-achievements-text {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    margin: 0.5rem 0;
}

.single-achievements-title {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

/*--- End Achievements*/

/*--- Start gallery ---*/
.gallery {
    padding: 3rem 0;
    background: #fff;
}

.gallery-container {
    max-width: 90vw;
    margin: 2rem auto;
}

.single-article-gallery {
    margin: 0.5rem auto;
    position: relative;
}

.gallery-img {
    display: block;
    width: 24rem;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.3s;
}

.single-article-gallery::before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(0);
    transition: all 1s ease;
}

.single-article-gallery:hover::before {
    transform: scale(1);
}

.single-gallery-icon {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    border: 5px solid #fff;
    padding: 0 1rem;
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
    transition: all 1.3s ease;
}

.single-gallery-icon:hover {
    color: #eeeeee;
    cursor: pointer;
}

.single-article-gallery:hover .single-gallery-icon {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
}

/*--- End gallery ---*/

/* END HOME PAGE SETUP */

/* Box modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Box Modal */

/* Start sidebar */
.sidebar {
    margin-top: 4.5rem;
    padding: 0;
    width: 15rem;
    background-color: #f1f1f1;
    color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 12px 18px 0 rgba(255, 255, 255, 0.2);
}

.sidebar button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font: 400 17px Lato, sans-serif;
    padding: 1.2rem;
}

.sidebar button.active {
    background-color: #000;
    color: #fff;
}

.sidebar button:hover:not(.active) {
    background-color: #555;
    color: #fff;
}

.content {
    margin-left: 12rem;
    padding: 0.5rem 4rem;
}

.avatar-cover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0 0 auto;
    padding: 1rem 0;
    border-bottom: 1px ridge #fff;
}

.avatar {
    height: 60px;
    width: 60px;
}

.navbar-icon {
    width: 30px;
    height: 30px;
    display: none;
}

#toggler {
    display: none;
}

/* End sidebar */

/* Start Snackbar */
/* Snackbar style */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 70;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* End Snackbar */

/* Start Contact */
#contact {
    padding: 3rem 0;
}

#contact-textarea {
    width: 100%;
}

#btn-contact {
    margin: 0 auto;
    padding: 0.6rem 1.2rem;
    margin-top: 2rem;
    display: block;
}

/* End Contact */

/*--- Start footer ---*/
.footer {
    background: #000;
    padding: 3rem 0;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
}

.footer-single-icon {
    font-size: 2rem;
    color: #fff;
    transition: all 0.2s ease;
}

.footer-single-icon:first-child:hover {
    color: #3b5998;
}

.footer-single-icon:nth-child(2):hover {
    color: #fa2819;
}

.footer-single-icon:nth-child(3):hover {
    color: #55acee;
}

.footer-single-icon:nth-child(4):hover {
    color: #0077b5;
}

.footer-single-icon:nth-child(5):hover {
    color: #43d854
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 14px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../assets/images/up-arrow.png") no-repeat 0px 0px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

.copyright {
    margin-top: 1.2rem;
    border-top: 0.50px solid white;
    padding: 0.5rem 0;
}

/*--- End footer ---*/


/* *************************** */
/* ***** START DASHBOARD************ */
/* *************************** */
.flex-img-left {
    align-items: flex-start;
    width: 10rem;
}

.flex-card-minified {
    flex-basis: 100px;
    flex-shrink: 1;
    color: #fff;
}

.trip_img_view {
    width: 100%;
    height: 100%;
}

.flex-align-items-center {
    flex-grow: 1;
}

.flex-card-fare {
    height: 70%;
}

.flex-card-fare p {
    background: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 50%;
}

.flex-button-action {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.flex-button-action:hover {
    cursor: pointer;
}

.flex-button-action:last-child:hover {
    /* font-size: 1.5rem; */
    transform: rotate(10deg);
    transition: transform 250ms;
    transform-origin: 19% 100%;
}

.flex-card-actions {
    background: #000;
    padding: 1rem;
}

.view_more p:hover {
    cursor: pointer;
}

#specific_trip .flex-img-trip {
    flex: 0 1 calc(50% - 1rem);
}

.flex-trip-description {
    padding: 0.9rem 1rem;
    flex-grow: 6;
}

#caption-booking-field {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.trip-details-fare {
    position: absolute;
    right: 50%;
    background: #3b5998;
    color: #fff;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* ******************************** */
/* ******* start Book a seat  ***************/
/* ********************************** */

.odd {
    margin-right: 2em;
}

#booked {
    background: #dc3545;
}

.bus_seats,
.odd,
#booked {
    width: 45px;
    height: 35px;
    font-size: 1em;
    outline: none;
    border: none;
    -webkit-appearance: none;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Style bus map buttons */
[data-trip-seat] {
    padding: 5px;
    cursor: pointer;
}

/* ******************************** */
/* ******* end Book a seat  ***************/
/* ********************************** */


/* ******************************** */
/* ******* Start Bookings  ***************/
/* ********************************** */
#bookings .col-md-2 {
    justify-content: space-evenly;

}

#bookings .flex-align-items-center {
    max-height: 135px;
    overflow: hidden;
}

#bookings .flex-card-minified {
    background: #dddddd;
    height: 50px;

}

.aria-booked {
    background-color: #fff;
}

/* ******************************** */
/* ******* End Bookings  ***************/
/* ********************************** */

/******** *****************************
**************END DASHBOARD ***********/



/* Media queries */
@media screen and (min-width: 576px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .single-article-achievements {
        flex: 0 0 calc(50% - 0.5rem);
    }
}

@media screen and (min-width: 992px) {
    .single-article-achievements {
        flex: 0 0 calc(25% - 0.5rem);
    }

    .single-article-gallery {
        flex: 0 0 calc(25%- 0.5rem);
    }
}

@media screen and (max-width: 768px) {
    .marg-top {
        margin-top: 0;
    }

    .section-title-name {
        font-size: 2rem;
    }

    .single-achievements-text,
    .single-achievements-title {
        font-size: 1rem;
    }

    .gallery-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .single-article-gallery {
        flex: 0 0 calc(50%- 0.5rem);
    }

    .flex-input-center {
        flex-wrap: wrap;
        width: 100%;
    }

    .gallery-img {
        width: 20rem;
    }

    .flex-description {
        flex-wrap: wrap;
    }

    #specific_trip .flex-img-trip {
        flex: 0 1 100%;
    }
}

@media screen and (max-width: 360px) {
    .gallery-img {
        width: 100%;
    }
}


@media screen and (min-width: 768px) {
    .gallery-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .single-article-gallery {
        flex: 0 0 calc(50%- 0.5rem);
    }

    .gallery-img {
        width: 20rem;
    }
}

/* Side bar and modal*/
@media screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 6rem;
    }

    .sidebar .tab {
        display: none;
    }

    .content {
        margin: 1rem 0 0 0;
        padding: 1rem;
    }

    .flex-center-card {
        width: 100%;
        margin: 0;
    }

    .navbar-icon {
        display: block;
    }

    input[type=checkbox]:checked~.tab {
        display: block;
    }
}